version: '3.8'
services:
  db:
    image: mysql:latest
    container_name: mysql-db-llq
    networks:
      - app-network
    volumes:
      - type: volume
        source: mysql-data
        target: /var/lib/mysql
      - type: bind
        source: ./init.sql
        target: /docker-entrypoint-initdb.d/init.sql
    ports:
      - "3309:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=sqlset1010
      - MYSQL_DATABASE=userdb
  backend:
    build: ./backend
    container_name: user-backend-llq
    restart: always
    ports:
      - "3001:3001"
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: user-frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network
networks:
  app-network:
    name: "app-network"
    ipam: 
      driver: default
      config:
        - subnet: 10.0.0.0/16
volumes:
  mysql-data:
    name: "mysql-data"